.profile-container {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: white;
  display: flex;
}

.profile-container .profile-wrapper {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #242424;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.profile-name {
  text-align: left;
  color: white;
  margin: 20px;
}

.profile-img {
  width: 100%;
  border-radius: 10px;
}

.profile-josh {
  width: 100px;
}

p {
  color: white;
}

.contact-icons {
  text-align: center;
  color: inherit;
  color: white;
  font-size: 48px;
}

.contact-text {
  color: white;
  text-align: left;
}

a {
  color: white;
}
